<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'core/css/footer.css' %} rel="stylesheet" type="text/css">
    <link rel="icon" href={% static "core/img/logo.png"%}sizes="64x64">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fef38ef5aa.js" crossorigin="anonymous"></script>
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>MusicPro</title>
</head>
<body>
    
    <footer class="footer-distributed">

        <div class="footer-right">
    <!-- aca irian lo links en la #-->
            <a href="#"><i class="fa fa-whatsapp"></i></a><!--whatsap-->
            <a href="#"><i class="fa fa-instagram"></i></a> <!--instagram-->
            <a href="#"><i class="fa fa-facebook"></i></a><!-- icono de youtube-->
            <a href="#"><i class="fa fa-github"></i></a><!-- github del proyecto-->
        </div>
        <div class="footer-left">
            <p class="footer-links">
                <p class="footer-links">
                    <!--Despachos-->
                              <a class="link-1" href="https://www.starken.cl/">Despachos</a>
                    {% comment %} <!--CRUD editar-->
                              <a href={%url 'crud' %}>Crud(Temporal)</a>
                    <!--CRUD crear-->
                              <a href={%url 'formulario' %}>Crear Productos(Temporal)</a> {% endcomment %}


                          </p>

            <p>MusicPro &copy; 2023</p>
        </div>

    </footer>

</body>
</html>