<!doctype html>
<html lang="es">
 {% load static %}   
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->

    <link rel="shortcut icon" href={% static 'core/img/logo.png' %} sizes="64x64" />
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/fef38ef5aa.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700;800;900&display=swap" rel="stylesheet">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!--Bootstrap / Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- CSS -->
    
    <link rel="stylesheet" href={% static "core/css/carrito.css"%}>
    
</head>
<body>

    <!--  ================================================ -->
    <!--                 Navegador predeterminado          -->
    <!--  ================================================ -->
<div class="nav container">
      <div class="cart">
          <h2 class="cart-title">Tu Carrito</h2>
          <!-- Content -->
          <div class="cart-content">

          </div>
          <!--total-->
          <div class="total">
              <div class="total-title">Total</div>
              <div class="total-price">$0</div>
          </div>
          <!-- Buy Button -->
          <button type="button" class="btn-buy">Comprar</button>
          <!-- Cart Close -->
          <i class='bx bx-x' id="close-cart"></i>
      </div>
</div>
    
{% include 'core/navBar.html'%}


    <!--  ================================================ -->
    <!--                 intro                            -->
    <!--  ================================================ -->

    <!-- lo vera rol cliente -->
    {% if rol == 'cliente' %}


<div class="container">

    <!--  ================================================ -->
    <!--          Productos(se podrian agregar toast)      -->
    <!--  ================================================ -->
    <!-- largo de imagenes 455 por 455-->
    

<!-- estos botones es necesario ponerles un largo que sea responsivo
          <div class="category_list  col-xl-12 col-lg-12 col-md-12 col-sm-12">   
              <a  class=" D_color category_item btn btn-secondary btn-lg" category="all">Todos</a>
              <a  class=" D_color category_item btn btn-secondary btn-lg" category="maceteros">Maceteros</a>
              <a  class=" D_color category_item btn btn-secondary btn-lg" category="plantas">Plantas</a>
              <a  class=" D_color category_item btn btn-secondary btn-lg" category="tierradehojas">Tierra De Hojas</a>
              <a  class=" D_color category_item btn btn-secondary btn-lg" category="arbustos">Arbustos</a>
            <hr> 
            </div> -->

<section class="shop container">
    <dt class="pad_letras">
        <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" >Nuestros Productos</h1>
        <hr class="mx-auto">
      </dt>
    <!-- Content -->
    {% load humanize %}   
    <div class="shop-content">
        {% for p in productos %}
        <!-- Box 1 /aca se pueden cambiar con el django y con los for maximizar a 3 por pagina(creo)-->
        <div class="product-box" style="margin-bottom: 25%; margin-left: 10%;">
          {% if p.imagen_prod %}
          <img src="{{p.imagen_prod.url}}" alt="{{p.nombre_prod}}" class="product-img">
          {% endif%}
          {% if not p.imagen_prod %}
          <img src={% static "core/img/IMG.png" %} alt="{{p.nombre_prod}}" class="product-img">
          {% endif%}
            <h2 class="product-title">{{ p.nombre_prod | title }}</h2>
            <span class="price">${{ p.precio_prod | intcomma}}</span>
            <i class='bx bx-shopping-bag add-cart'></i>
            <!-- cambiar por pagina correspondiente al producto-->
            <button type="button" class="btn rounded-pill btn-success " data-bs-toggle="modal" data-bs-target="#myModal{{ p.idProducto }}">Ver producto</button>
                <div class="modal" id="myModal{{ p.idProducto }}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">{{ p.nombre_prod | capfirst}}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                
                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="row">
                          <div class="col">
                            {% if p.imagen_prod %}
                            <img class="img-fluid mb-3 " src="{{p.imagen_prod.url}}" alt="{{ p.nombre_prod }}">
                            {% endif%}
                            {% if not p.imagen_prod %}
                            <img id="container" class="img-fluid mb-3 fotito" src={% static "core/img/IMG.png" %} alt="{{p.nombre_prod}}">
                            {% endif%}
                            <h4>${{ p.precio_prod | intcomma}}</h4>
                            {% if p.cantidad_prod %}
                            <h7>{{ p.cantidad_prod}} Disponibles</h7>
                            {% elif p.cantidad_prod == 0 %}
                            <h7>No hay Stock!!</h7>
                            {% endif%}
                          </div>
                          <div class="col">
                            <h6>{{ p.descripcion_prod }}</h6>
                            
                          </div>
                          
                        </div>
                        
                      </div>
                
                      <!-- Modal footer -->
                <div class="modal-footer">
                  
                </div>
                
                    </div>
  
                  </div>
                </div>                    
            </div>
        {% endfor %}
    </div>
</section>

                
<!--final-->

              
      </div>
  </div>
</div>
</div> <!-- este div cierra la parte de arriba la cual deja como un margen a los lados-->

    <!--  ================================================ -->
    <!--                    Seccion de paginas             -->
    <!--  ================================================ -->
    

    <!-- <div class="container col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="btn-toolbar buttones" role="toolbar" aria-label="Toolbar with button groups">
        <div id="paginas" class="btn-group buttones me-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-success centrado">1</button>
          <button type="button" class="btn btn-success">2</button>
          <button type="button" class="btn btn-success">3</button>
          <button type="button" class="btn btn-success">4</button>
          <button type="button" class="btn btn-success">5</button>
          <button type="button" class="btn btn-success">6</button>
          <button type="button" class="btn btn-success">7</button>
          <button type="button" class="btn btn-success">8</button>
  
        </div>
      </div>
    </div> -->

    <!--  ================================================ -->
    <!--                    Seccion final                  -->
    <!--  ================================================ -->

        <!-- Lo vera el rol administrador-->
        {% elif role == 'administrador' %}
        <h1> Chupalo, Admin </h1>
    
        {% endif %}


{% include 'core/footer.html'%}
  
<!-- este es el js que se ocupa para los productos-->

  <!-- Link to JS -->
  <script src={% static "core/js/carrito.js" %}></script>

</body>
</html>